@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
html,
body,
#root,
.app,
.content {
    height: 100vh;
    width: 100vw;
    font-family: 'Source Sans pro', sans-serif;
    overflow: hidden;
}

body {
    margin: 0%;
    padding: 0%;
}

.side-bar {
    height: 94vh;
    width: 16vw;
    background-color: rgb(34, 33, 33);
}

.side-bar-content {
    width: 16vw;
    padding: 0px;
    margin: 0px;
}

.side-bar-content .row {
    width: 16vw;
    height: 8vh;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.side-bar-content .row:hover {
    background-color: #555;
}

.side-bar-content .active {
    background-color: rgb(11, 51, 2);
}

.side-bar-content .active #icon {
    color: rgb(7, 207, 207);
}

.app {
    display: block;
    position: relative;
}

.lower-section {
    display: flex;
    position: absolute;
}

.main-page {
    height: 94vh;
    width: 84vw;
    background-color: green;
}

.main-page .main-page-container {
    background-color: rgb(214, 214, 214);
    height: 94vh;
    width: 84vw;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track:hover {
    background: #555;
}


/* For screens with a maximum width of 768px (e.g., mobile devices) */

@media screen and (max-width: 768px) {
    /* Adjust styles for mobile screens */
}


/* For screens with a minimum width of 768px and maximum width of 1200px (e.g., tablets) */

@media screen and (min-width: 768px) and (max-width: 1365px) {
    /* Adjust styles for tablet screens */
}


/* For screens with a minimum width of 1201px (e.g., desktops) */

@media screen and (min-width: 1366px) {
    html,
    body,
    #root,
    .app,
    .content {
        height: 100vh;
        width: 100vw;
        font-family: 'Source Sans pro', sans-serif;
        overflow: hidden;
    }
    body {
        margin: 0%;
        padding: 0%;
    }
    .side-bar {
        height: 94vh;
        width: 16vw;
        background-color: rgb(34, 33, 33);
    }
    .side-bar-content {
        width: 16vw;
        padding: 0px;
        margin: 0px;
    }
    .side-bar-content .row {
        width: 16vw;
        height: 8vh;
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        align-items: center;
        justify-content: center;
    }
    .row #icon {
        flex: 30%;
        display: grid;
        place-items: center;
    }
    .row #title {
        flex: 70%;
    }
    .side-bar-content .row:hover {
        background-color: #555;
    }
    .side-bar-content .active {
        background-color: rgb(11, 51, 2);
    }
    .side-bar-content .active #icon {
        color: rgb(7, 207, 207);
    }
    .app {
        display: block;
        position: relative;
    }
    .lower-section {
        display: flex;
        position: absolute;
    }
    .main-page {
        height: 94vh;
        width: 84vw;
        background-color: green;
    }
    .main-page .main-page-container {
        background-color: rgb(214, 214, 214);
        height: 94vh;
        width: 84vw;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #e0e0e0;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-track:hover {
        background: #555;
    }
}